<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://suryansh-compui.netlify.app/styles/base.css">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../styles/product-page/product-page.css">
    <link rel="stylesheet" href="../../styles/cart/cart.css">
    <title>AnimeHop | Login</title>
</head>

<body>
    <nav class="header-wrapper text-center" id="header_box">
        <div class="mid-head">
            <div class="search-box">
                <div class="form-value">
                    <input type="search" class="form-input mar-sm" placeholder="search here" id="search-text"><i class="fa fa-search search-icon"></i>
                </div>
            </div>
            <div class="nav-head">
                <p class="brand-head"><a href="../../index.html" class="head-link">AnimeHop</a></p>
            </div>
            <div class="nav-right">
                <div class="cart-btn">
                    <a href="/components/cart/cart.html" class="card-link"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <div class="wishlist-btn mar-lg-lr">
                    <a href="wishlist.html" class="card-link"><i class="fa fa-heart"></i></a>
                </div>
                <div class="register">
                    <a href="login.html" class="card-link">Register | Sign In</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="main-section">
        <h1 class="c-head text-center">My Cart </h1>
        <div class="cart-container cart-grid">
            <div class="contact cart-flex box-size">
                <div class="icon text-center"><img class="prod-img" src="/assets/zenitsu-hoodie.webp" alt="card">
                </div>
                <div class="mar-lg-lr">
                    <h3 class="text-center">Zenitsu Cool Hoodie</h3>
                    <div class="rating-section mar-tb-lg">
                        <div class="prod-category">Demon Slayer </div>
                        <div class="rating-star star-4">4.5 <i class="fa fa-star"></i></div>
                    </div>
                    <div class="quantity mar-tb-lg mar-lg-lr">
                        <h5 class="mar-tb-lg">Quantity : </h5>
                        <button class="icon-btn"><i class="fa fa-plus"></i></button>
                        <div class="quantity-value">1</div>
                        <button class="icon-btn"><i class="fa fa-minus"></i></button>
                    </div>
                    <h4 class="mar-lg-lr">₹599.00</h4>
                    <div class="cart-btn text-center mar-tb-lg"><button class="btn btn-primary">Remove From
                            Cart</button></div>
                    <div class="cart-btn text-center"><button class="btn btn-secondary">Move To WishList</button></div>
                </div>
            </div>
            <div class="price-description mar-md-lr">
                <div class="filter"><strong class="h5">Price Details</strong></div>
                <hr>
                <div class="filter-block filter-flex">
                    <div class="filter">
                        <div class="h5">Price</div>
                    </div>
                    <div class="amount">
                        <p class="">₹599.00</p>
                    </div>
                </div>
                <div class="filter-block filter-flex">
                    <div class="filter">
                        <div class="h5">Discount</div>
                    </div>
                    <div class="amount">
                        <p class="">₹599.00</p>
                    </div>
                </div>
                <div class="filter-block filter-flex">
                    <div class="filter">
                        <div class="h5">Delivery Charges</div>
                    </div>
                    <div class="amount">
                        <p class="">₹599.00</p>
                    </div>
                </div>
                <hr>
                <div class="filter-block filter-flex">
                    <div class="filter">
                        <strong class="h5">TOTAL AMOUNT</strong>
                    </div>
                    <div class="amount">
                        <p class="">₹599.00</p>
                    </div>
                </div>
                <hr>
                <div class="filter-block filter-flex">
                    <div class="filter">
                        <strong class="h5">You will save ₹599 on this order</strong>
                    </div>
                </div>
                <button class="btn btn-primary">Place Order</button>
            </div>
        </div>
    </section>
    <footer id="footer-des" class="bg-ch">
        <div class="footer-links">
            <dl>
                <dt>Company Info</dt>

                <dd>
                    <a href="">Feedback</a>
                </dd>

                <dd>
                    <a href="">Customer Reviews</a>
                </dd>

                <dd>
                    <a href="">About Us</a>
                </dd>

                <dd>
                    <a href="">Contact Us</a>
                </dd>

                <dd>
                    <a href="">Terms and Conditions</a>
                </dd>

            </dl>

            <dl>
                <dt>User Center</dt>

                <dd>
                    <a href="">Forget Password</a>
                </dd>

                <dd>
                    <a href="">My Orders</a>
                </dd>

                <dd>
                    <a href="">Tracking Order</a>
                </dd>

                <dd>
                    <a href="">My Account</a>
                </dd>

                <dd>
                    <a href="">Register</a>
                </dd>

            </dl>

            <dl>
                <dt>Payment &amp; Shipping</dt>

                <dd>
                    <a href="">Customs &amp; Taxes</a>
                </dd>

                <dd>
                    <a href="">Privacy Policy</a>
                </dd>

                <dd>
                    <a href="">Shipping Methods</a>
                </dd>

                <dd>
                    <a href="">Payment Methods</a>
                </dd>

                <dd>
                    <a href="">Return Policy</a>
                </dd>

            </dl>

            <dl class="newsletter">
                <dt>Newsletter</dt>
                <dd>
                    <div class="newsletter-des">
                        <p>Subscribe To Our Newsletter</p>

                        <form>
                            <input name="newsletter_email" type="email" value="" id="newsletter_email" class="newsletter-email">
                            <button onclick="submitNewsletter()" name="" type="button" value="" class="newsletter-btn">Subscribe</button>
                        </form>
                    </div>
                    <ul class="meida">
                        <li>
                            <a rel="nofollow" class="icon-facebook" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-youtube" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-linkedin" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-friendfeed" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-whatsapp" href="" target="_blank"></a>
                        </li>
                    </ul>
                </dd>

            </dl>
        </div>
        <div class="footer">
            <div class="foot-txt">
                <div class="foot-msg text-center"><span class="foot-span">Copyright ©
                        AnimeHop INC. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>