<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://suryansh-compui.netlify.app/styles/base.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../../styles/product-page/product-page.css">
    <title>AnimeHop | Login</title>
</head>

<body>
    <nav class="header-wrapper text-center" id="header_box">
        <div class="mid-head">
            <div class="search-box">
                <div class="form-value">
                    <input type="search" class="form-input mar-sm" placeholder="search here" id="search-text"><i class="fa fa-search search-icon"></i>
                </div>
            </div>
            <div class="nav-head">
                <p class="brand-head"><a href="../../index.html" class="head-link">AnimeHop</a></p>
            </div>
            <div class="nav-right">
                <div class="cart-btn">
                    <a href="cart.html" class="card-link"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <div class="wishlist-btn mar-lg-lr">
                    <a href="wishlist.html" class="card-link"><i class="fa fa-heart"></i></a>
                </div>
                <div class="register">
                    <a href="login.html" class="card-link">Register | Sign In</a>
                </div>
            </div>
        </div>
        <div class="nav-box">
            <div class="list-wrapper">
                <ul class="nav" id="nav">

                    <li class="">
                        <div class="cate_menu"><a href="">NEW</a></div>
                    </li>

                    <li class="son-li">
                        <div class="cate_menu"><a class="li-sub-link" href="">Clothing</a><span class="down_icon"></span>
                        </div>
                    </li>

                    <li class="son-li">
                        <div class="cate_menu"><a href="">Plaything</a><span class="down_icon"></span></div>
                    </li>

                    <li class="son-li">
                        <div class="cate_menu"><a href="">Household</a><span class="down_icon"></span></div>
                    </li>

                    <li class="son-li">
                        <div class="cate_menu"><a href="">Accessories</a><span class="down_icon"></span></div>
                    </li>
                    <li class="son-li">
                        <div class="cate_menu"><a href="">Garage Kits</a><span class="down_icon"></span></div>
                    </li>

                    <li class="son-li">
                        <div class="cate_menu"><a href="">Anime Name</a><span class="down_icon"></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="main-grid">
        <aside class="aside-filter">
            <div class="filter-block filter-flex">
                <div class="filter"><strong class="h5">Filter</strong></div>
                <div class="clear">
                    <p class="h5">Clear</p>
                </div>
            </div>
            <div class="filter-block">
                <div class="filter"><strong class="h5">Price</strong></div>
            </div>
            <div class="filter-block">
                <div class="filter"><strong class="h5">Category</strong></div>
                <ul class="filter-ul">
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="checkbox" id="terms" required="">
                            <label class="" for="terms">Mens Clothing </label>
                        </div>
                    </li>
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="checkbox" id="terms" required="">
                            <label class="" for="terms">Womens Clothing </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="filter-block">
                <div class="filter"><strong class="h5">Rating</strong></div>
                <ul class="filter-ul">
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="radio" id="terms">
                            <label class="" for="terms">4 Stars &amp; Above </label>
                        </div>
                    </li>
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="radio" id="terms">
                            <label class="" for="terms">3 Stars &amp; Above </label>
                        </div>
                    </li>
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="radio" id="terms">
                            <label class="" for="terms">2 Stars &amp; Above </label>
                        </div>
                    </li>
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="radio" id="terms">
                            <label class="" for="terms">1 Stars &amp; Above </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="filter-block">
                <div class="filter"><strong class="h5">Sort By</strong></div>
                <ul class="filter-ul">
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="radio" id="terms">
                            <label class="" for="terms">Price - High to Low </label>
                        </div>
                    </li>
                    <li class="filter-list">
                        <div class="form-value col-flex full-width text-left">
                            <input class="checkbox" type="radio" id="terms">
                            <label class="" for="terms">Price - Low to High </label>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="main-section">
            <div class="row2">
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/naruto-tshirt.webp" alt="card">
                        </div>
                        <h5 class="text-center">Naruto Rasengan T-Shirt</h5>
                        <div class="rating-section">
                            <div class="prod-category">Naruto</div>
                            <div class="rating-star star-4">4.2 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹599.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/hinata-tshirt.webp" alt="card">
                        </div>
                        <h5 class="text-center">Hinata Love T-Shirt</h5>
                        <div class="rating-section">
                            <div class="prod-category">Naruto</div>
                            <div class="rating-star star-4">4 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹999.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/itachi-tshirt.webp" alt="card">
                        </div>
                        <h5 class="text-center">Itachi Mankeyo Sharingan T-Shirt</h5>
                        <div class="rating-section">
                            <div class="prod-category">Naruto</div>
                            <div class="rating-star star-4">4.8 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹699.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/kakashi-tshirt.webp" alt="card">
                        </div>
                        <h5 class="text-center">Kakashi T-Shirt</h5>
                        <div class="rating-section">
                            <div class="prod-category">Naruto</div>
                            <div class="rating-star star-3">3.5 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹599.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>

                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/des-teshirtcombo.webp" alt="card">
                        </div>
                        <h5 class="text-center">Demon Slayer T-Shirt Combo</h5>
                        <div class="rating-section">
                            <div class="prod-category">Demon Slayer </div>
                            <div class="rating-star star-4">4.2 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹1499.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/ds-gang.webp" alt="card">
                        </div>
                        <h5 class="text-center">Demon Slayer T-shirt</h5>
                        <div class="rating-section">
                            <div class="prod-category">Demon Slayer </div>
                            <div class="rating-star star-4">4.5 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹799.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/ds-shirtcombo.webp" alt="card">
                        </div>
                        <h5 class="text-center">Demon Slayer Shirts Combo</h5>
                        <div class="rating-section">
                            <div class="prod-category">Demon Slayer </div>
                            <div class="rating-star star-2">2.5 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹1999.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
                <a href="/" class="comp-link mar-1">
                    <div class="v-card">
                        <div class="icon text-center"><img class="prod-img" src="../../assets/zenitsu-hoodie.webp" alt="card">
                        </div>
                        <h5 class="text-center">Zenitsu Cool Hoodie</h5>
                        <div class="rating-section">
                            <div class="prod-category">Demon Slayer </div>
                            <div class="rating-star star-4">4.5 <i class="fa fa-star"></i></div>
                        </div>
                        <h4 class="text-center">₹1299.00</h4>
                        <div class="btn-grid">
                            <div class="cart-btn text-center"><button class="btn btn-primary">Add To Cart</button></div>
                            <div class="cart-btn text-center"><button class="btn btn-primary">WishList</button></div>
                        </div>
                        <div class="cart-btn text-center"><button class="btn btn-secondary">Buy Now</button></div>
                    </div>
                </a>
            </div>
        </section>
    </main>
    <footer id="footer-des" class="bg-ch">
        <div class="footer-links">
            <dl>
                <dt>Company Info</dt>

                <dd>
                    <a href="">Feedback</a>
                </dd>

                <dd>
                    <a href="">Customer Reviews</a>
                </dd>

                <dd>
                    <a href="">About Us</a>
                </dd>

                <dd>
                    <a href="">Contact Us</a>
                </dd>

                <dd>
                    <a href="">Terms and Conditions</a>
                </dd>

            </dl>

            <dl>
                <dt>User Center</dt>

                <dd>
                    <a href="">Forget Password</a>
                </dd>

                <dd>
                    <a href="">My Orders</a>
                </dd>

                <dd>
                    <a href="">Tracking Order</a>
                </dd>

                <dd>
                    <a href="">My Account</a>
                </dd>

                <dd>
                    <a href="">Register</a>
                </dd>

            </dl>

            <dl>
                <dt>Payment &amp; Shipping</dt>

                <dd>
                    <a href="">Customs &amp; Taxes</a>
                </dd>

                <dd>
                    <a href="">Privacy Policy</a>
                </dd>

                <dd>
                    <a href="">Shipping Methods</a>
                </dd>

                <dd>
                    <a href="">Payment Methods</a>
                </dd>

                <dd>
                    <a href="">Return Policy</a>
                </dd>

            </dl>

            <dl class="newsletter">
                <dt>Newsletter</dt>
                <dd>
                    <div class="newsletter-des">
                        <p>Subscribe To Our Newsletter</p>

                        <form>
                            <input name="newsletter_email" type="email" value="" id="newsletter_email" class="newsletter-email">
                            <button onclick="submitNewsletter()" name="" type="button" value="" class="newsletter-btn">Subscribe</button>
                        </form>
                    </div>
                    <ul class="meida">
                        <li>
                            <a rel="nofollow" class="icon-facebook" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-youtube" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-linkedin" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-friendfeed" href="" target="_blank"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="icon-whatsapp" href="" target="_blank"></a>
                        </li>
                    </ul>
                </dd>

            </dl>
        </div>
        <div class="footer">
            <div class="foot-txt">
                <div class="foot-msg text-center"><span class="foot-span">Copyright ©
                    AnimeHop INC. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>