<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://suryansh-compui.netlify.app/styles/base.css">
    <link rel="stylesheet" href="../../styles/login/login.css">
    <title>AnimeHop | Register</title>
</head>

<body>
    <nav class="header-wrapper text-center" id="header_box">
        <div class="mid-head">
            <div class="nav-head">
                <p class="brand-head"><a href="../../index.html" class="head-link">AnimeHop</a></p>
            </div>
        </div>
    </nav>
    <div class="comp-flex login mar-t-xlg">
        <h1 class="text-center"><a href="../login/login.html" class="card-link">Login</a> | <a href="./register.html" class="card-link active">Register</a></h1>
        <form class="form-card validation-form">
            <div class="form-value col-flex full-width">
                <label class="form-label" for="name">Name*
                    <input type="text" class="form-input mar-sm-tb" id="username" placeholder="Tanay Pratap" required>
                </label>
            </div>
            <div class="form-value col-flex full-width">
                <label class="form-label" for="email">Email*
                    <input type="email" class="form-input mar-sm-tb" id="email" placeholder="tanay.pratap@neogcamp.com"
                        required>
                </label>
            </div>
            <div class="form-value col-flex full-width">
                <label class="form-label" for="password">Password*
                    <input type="password" class="form-input mar-sm-tb" placeholder="enter password" required>
                </label>
            </div>
            <div class="form-value col-flex full-width">
                <label class="form-label" for="password">Confirm Password*
                    <input type="password" class="form-input mar-sm-tb" placeholder="enter password" required>
                </label>
            </div>
            <div class="form-value col-flex full-width text-left">
                <input class="checkbox" type="checkbox" id="terms" required="">
                <label class="" for="terms">I accept all terms &amp; conditions </label>
            </div>
            <div class="text-center">
                <button class="btn btn-primary-2">Create Account</button>
                <button class="btn btn-secondary-2">Cancel</button>
            </div>
        </form>
    </div>
</body>

</html>